@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.task_1 {
    background: url("../images/01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;
}

.task_1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.card {
    background-color: #ffffff;
    border-radius: 16px;
    padding: 30px 20px;
    max-height: 550px;
    overflow-y: auto;
}

.card::-webkit-scrollbar {
    display: none;
}

.card {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.card_length {
    max-width: 35%;
}

.card_length_third {
    min-width: 60%;
    max-width: 60%;
}

.blue_label {
    border-radius: 24px;
    padding: 5px 12px;
    font-weight: 600;
}

.set_max_length {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.font_16 {
    font-size: 16px;
}

.task_2 {
    background: url("../images/02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;
}

.task_2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.task_3 {
    background: url("../images/03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;
}

.task_3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.form_control {
    border: 1px solid #ededed;
    height: 52px;
    padding: 0px 14px;
    background: #F8F8F8;
    border-radius: 16px;
    color: #212529;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

::-webkit-input-placeholder {
    color: #212529;
}

::-moz-placeholder {
    color: #212529;
}

:-ms-input-placeholder {
    color: #212529;
}

input:-moz-placeholder {
    color: #212529;
}

@media(max-width: 1280px) {
    .card_length {
        max-width: 45%;
    }

    .card_length_third {
        min-width: 80%;
        max-width: 80%;
    }
}

@media(max-width: 991px) {
    .card_length {
        max-width: 70%;
    }

    .card_length_third {
        min-width: 100%;
        max-width: 100%;
    }
}

@media(max-width: 767px) {
    .card_length {
        max-width: 85%;
    }
}